*.zip
*.log
log/
logs/
log/*
logs/*
./json/*
*desktop.ini
*.html
*.cp
*oauth2.txt
lib/gam-64/oauth2.txt
lib/gam/oauth2.txt
bin/gam-64/oauth2.txt
./bin/gam-64/oauth2.txt
.vscode/
notes.txt
/notes.ps1
/jenkins.ps1
/.vscode
/params.ps1